img{
  height: 100%;
  width: 100%;
  border: 10px solid black;
  margin: auto;
  /* transition: transform .2s; Animation */
}
body {
  /* height: 100vh; */
  }
/* img:hover{
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
/* } */ 

.nav-wrapper{
  height:50px;  
}
ul{
  padding-left: 8px;
}
.side-nav {
  /* background-color: teal; */
  font-family: 'Waiting for the Sunrise', cursive;
  opacity: .7;
  font-weight: bold;
  font-size: 30px;
  background-color:black;
  color: white !important;
  width:200px;
  padding-left: 8px;
  margin-top:56px;
  
}
#acct-manage{
  font-size:16px;
  color:white;
  margin-bottom: 10px;
  
}
body{
  background-color: black;
}
.modal{
  margin-top:15px;
  z-index:99;
  width:55% ! important;
}
#showcase {
  padding-top:4%;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1576818.jpg");
  height: 550px;
  box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset; 

}
.carousel{
  /* opacity: 100; */
 
  width: 100%;
 
}

.carousel-item {
      /* opacity: 100; */
     
      height: 300px ! important;
      width: 400px ! important;
      
}


.material-icons{
  font-size: 30px;
}
#modal-header{
   background-color: teal;
   font-family: 'Waiting for the Sunrise', cursive;
   color:white;
   font-size: 25px;
}
#modal-submit{
  background-color: teal;
  font-family: 'Waiting for the Sunrise', cursive;
  color:white;
  font-size: 18px;

}
.modal-footer{
  padding-bottom:5px;
}
#burger{
  font-size: 70px;
  color: rgb(36, 224, 224);
  margin-left:20px;
  margin-top: 40px;
}
#commission-content{
  padding: 0 !important;
}
h2{
  font-family: 'Waiting for the Sunrise', cursive;
  color: white;
  text-align: center;
  font-weight: bold;
}
h2.neon-heading {
  color: #fff;
  font-family: 'Dosis', Calibri, sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  margin-top:-45px;
}
h2.neon-heading.first {
  text-shadow: 0px 0px 10px #9D00FF,
      0px 0px 20px #9D00FF,
      0px 0px 30px #9D00FF,
      0px 0px 40px #9D00FF,
      0px 0px 50px #9D00FF,
      0px 0px 60px #9D00FF;
}
h2.neon-heading.second {
  text-shadow: 0px 0px 10px #33FF00,
      0px 0px 20px #33FF00,
      0px 0px 30px #33FF00,
      0px 0px 40px #33FF00,
      0px 0px 50px #33FF00,
      0px 0px 60px #33FF00;
  /* animation: pulsating 3s infinite; */
}

/* FLICKERING */
span.flickering-1 {
  animation: flickering-1 6s infinite;
}
span.flickering-2 {
  animation: flickering-2 3s infinite;
}
span.flickering-3 {
  animation: flickering-3 5s infinite;
}

/* ANIMATIONS */
@keyframes pulsating {
  0% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
  50% {
      text-shadow: 0px 0px 10px #33FF00,
          0px 0px 20px #33FF00,
          0px 0px 30px #33FF00,
          0px 0px 40px #33FF00,
          0px 0px 50px #33FF00,
          0px 0px 60px #33FF00;
      opacity: 1;
  }
  100% {
      text-shadow: 0px 0px 0px;
      opacity: 0;
  }
}

@keyframes flickering-1 {
  0% { opacity: 1; }
  52% { opacity: 1; }
  55% { opacity: 0; }
  56% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-2 {
  0% { opacity: 1; }
  62% { opacity: 1; }
  65% { opacity: 0; }
  66% { opacity: 1; }
  69% { opacity: 0; }
  70% { opacity: 1; }
  73% { opacity: 0; }
  74% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes flickering-3 {
  0% { opacity: 1; }
  82% { opacity: 1; }
  84% { opacity: 0; }
  85% { opacity: 1; }
  87% { opacity: 0; }
  88% { opacity: 1; }
  90% { opacity: 0; }
  91% { opacity: 1; }
  100% { opacity: 1; }
}
.list-group-portfolio {
  font-size: 25px;
  margin-top: 50%;
  color: white;
 }


 .list-group-item-portfolio{
   background-color:none ! important; 
 }


  

/*About the ARTIST section*/
h3 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 3px;
  
      }

#bio {
  font-size: 20px;
  font-weight: bolder;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
#about-container{
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1576818.jpg");
  box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
  margin-top: 200px;
  text-align: center;
  font-family:'Waiting for the Sunrise', cursive;
  letter-spacing: 3px;
  font-weight: 900;
  width:80%;
  color:white;
    padding-bottom: 5px;
  padding-top: 5px;
}

#about-arrow{
  width:100%;
  text-align: center;
  margin-top: 60px;
}
#arrow{
   font-size:50px;
   color:#9D00FF
}
#home-arrow{
  width:100%;
  text-align: center;
  margin-bottom: 15px;
}

#artist-img{
    height:260px;
    width: 220px;
    border-radius: 25%;
    margin-bottom: 10px;
    }

hr{
    margin-top:300px;
    padding-top:5px;
    background-color:lime;
    font-size: 2px;
    width:70%;
}

/*PORTFOLIO CSS*/

#back-arrow{
    width: 13px;
    margin-top: 300px;
    margin-left: 15px;
    position: absolute;
   
}
#back{
  font-size:80px;
  color: #9D00FF;
}

/* Porfolio Page*/


#portfolioh2{
  font-family: 'Dosis', Calibri, sans-serif;
  
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  margin: 0 auto;
  background-color:black;
}
#portfolio-container{
  
  width: 95%;
 
}
#upper-portfolio{
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1576818.jpg");
  width:100%;
  height:10px;
}
.gallery-container{
  margin-top:2px;
  background-color:grey;
  width:100%;
  color:white;
}
.col-sm-12{
  align-content: center;
}
.col-md-2{
  align-content: center;
}
.thumbnail{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px;
  
 
}
.caption{
  text-align: center;
  font-size: 12px;
}

.thumbnail:hover{

 border-color:lime;
  border-block-end-width:1px;
}


#lower-portfolio{
  background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1576818.jpg");
  width:100%;
  height:10px;
}
#portfolio-cards{
  background-color:black;
  opacity: .6;
  border-color:#9D00FF;
  border: solid 2px;
  width:100%;
  
  margin: 0 auto;
}

.tz-gallery{
  background-color:black;
}
#contact-button{
   background-color:teal;
   margin-top:10px;
   
}
/*Modal 2- contact modal styling*/
#contact-submit{
  background-color: teal;
  font-family: 'Waiting for the Sunrise', cursive;
  color:white;
  font-size: 18px;

}
#footer{
   text-align:center;
}
